<table>
  <tr>
    <td> 
      <img src="/images/bunny_head.jpg\" alt="bunny_head" width="300" height="200">
    </td>
  </tr>
   <tr>
    <td> 
      <img src="/images/bunny_body.jpg\" alt="bunny_body" width="300" height="200">
    </td>
  </tr>
   <tr>
    <td> 
      <img src="/images/bunny_legs.jpg\" alt="bunny_legs" width="300" height="200">
    </td>
  </tr>
</table>